/* Scroll Progress Bar */
.scroll-progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 4.0px; /* Thickness of the progress bar */
  background-color: transparent;
  z-index: 1000;
}

.progress {
  height: 100%;
  background-color: #ff5722; /* Progress bar color */
  transition: width 0.25s ease-out; /* Smooth transition */
}
